In [1]:
import pandas as pd

In [3]:
ds = pd.read_csv('Stress-Lysis.csv')

In [4]:
ds

      Humidity  Temperature  Step_count  Stress_Level
0        21.33        90.33         123             1
1        21.41        90.41          93             1
2        27.12        96.12         196             2
3        27.64        96.64         177             2
4        10.87        79.87          87             0
...        ...          ...         ...           ...
1996     21.82        90.82          96             1
1997     10.45        79.45          45             0
1998     27.22        96.22         135             2
1999     12.46        81.46          64             0
2000     16.87        85.87          50             1

[2001 rows x 4 columns]

In [8]:
ds.mean()

Humidity         20.000000
Temperature      89.000000
Step_count      100.141429
Stress_Level      1.104448
dtype: float64

In [7]:
ds.describe()

          Humidity  Temperature   Step_count  Stress_Level
count  2001.000000  2001.000000  2001.000000   2001.000000
mean     20.000000    89.000000   100.141429      1.104448
std       5.777833     5.777833    58.182948      0.771094
min      10.000000    79.000000     0.000000      0.000000
25%      15.000000    84.000000    50.000000      0.000000
50%      20.000000    89.000000   101.000000      1.000000
75%      25.000000    94.000000   150.000000      2.000000
max      30.000000    99.000000   200.000000      2.000000